[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
ipykernel = "*"
openpyxl = "*"
pylint = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
