[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
apache-airflow = {extras = ["docker", "pandas"], version = "*"}
xlsxwriter = "*"

[dev-packages]
black = "*"
pylint = "*"
selenium = "*"
pandas = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
